*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 30px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

header.rolagem{
    background-color:#333;
    padding: 5px 4%;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 10px;
}

header ul li a{
    text-decoration: none;
    color: #fff;
}

.banner{
    height: 15vh;
    background-color:lightgrey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    padding: 20px;
  }

.galeria_caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.galeria{
  height: 200px;
  width: 20%;
  border: thin solid;
  padding: 5px;
  margin: 0px 10px 0 0px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }