body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(./BLOG-DUOMO-1-1.jpg);
    padding: 60px;
    text-align: center;
    color: #fff;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    position: relative; /* Adicionado para posicionar os submenus */
}

nav ul li ul {
    display: none; /* Oculta os submenus por padrão */
    position: absolute;
    top: 100%; /* Posiciona abaixo do item principal do menu */
    left: 0;
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 14px; /* Diminui o tamanho da fonte do submenu */
}

nav ul li:hover > ul {
    display: block; /* Exibe o submenu ao passar o mouse sobre o item principal */
}

nav ul li ul li {
    display: block;
    margin: 5px 0;
}

nav a {
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
